.sidebar_item {
  color: #012970;
  font-weight: 600;
  font-size: 13px;
}

.sidebar_item_active {
  color: #4154f1;
  font-weight: 600;
  font-size: 13px;
}

.sidebar_items:hover {
  background-color: #f6f6fe;
}

.sidebar_items {
  display: flex;
  align-items: center;
  height: 2.4rem;
  transition: background-color 0.3s ease;
  cursor: pointer;
  border-radius: 4px;
}

.no_display{
  display: none;
}

.sidebar_items_active {
  display: flex;
  align-items: center;
  height: 2.4rem;
  transition: background-color 0.3s ease;
  background-color: #f6f6fe;
  cursor: pointer;
  border-radius: 4px;
}

h6.sidebar_items_active {
  color: #4154f1;
}

.icon {
  color: #012970;
}

.navwrap {
  position: fixed;
  top: 50px;
  left: 0;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 255, 0.2);
  width: 250px;
  height: calc(100vh - 50px);
  padding-top: 10px;
}
